<div class="flex flex-col min-h-screen">
    <header class="relative">
        <nav class="bg-header px-4 py-2 flex items-center justify-between">
            <div class="text-white text-xl font-semi-bold">AIxplorer</div>
            <div class="flex items-center space-x-6">
                <button id="toggleBtn" class="text-white flex items-center z-510 relative" (click)="toggleSidebar()">
                    <svg *ngIf="!isSidebarOpen" class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <rect x="3" y="3" width="6" height="6" />
                        <rect x="10.2" y="3" width="6" height="6" />
                        <rect x="17.4" y="3" width="6" height="6" />

                        <rect x="3" y="10.2" width="6" height="6" />
                        <rect x="10.2" y="10.2" width="6" height="6" />
                        <rect x="17.4" y="10.2" width="6" height="6" />

                        <rect x="3" y="17.4" width="6" height="6" />
                        <rect x="10.2" y="17.4" width="6" height="6" />
                        <rect x="17.4" y="17.4" width="6" height="6" />
                    </svg>
                    <svg *ngIf="isSidebarOpen" class="w-8 h-8" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.293 5.293a1 1 0 011.414 0L12 10.586l5.293-5.293a1 1 0 111.414 1.414L13.414 12l5.293 5.293a1 1 0 01-1.414 1.414L12 13.414l-5.293 5.293a1 1 0 01-1.414-1.414L10.586 12 5.293 6.707a1 1 0 010-1.414z" />
                    </svg>


                </button>
            </div>
        </nav>

        <aside class="fixed top-0 right-0 h-full bg-menu text-white w-1/2 md:w-1/4 z-500 transform transition-transform duration-300 ease-in-out"
               [ngClass]="{'translate-x-0': isSidebarOpen, 'translate-x-full': !isSidebarOpen}">

            <div class="p-4 mt-16">
                <ul class="space-y-4 pl-4 pr-4">

                    <li>
                        <a class="hover:text-gray-300" routerLink="/computer-vision/image-interpretation" (click)="closeSidebar()">Image Interpretation</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-300" routerLink="/machine-learning/regression" (click)="closeSidebar()">Regression</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-300" routerLink="/nlp/question-answering" (click)="closeSidebar()">Question Answering</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-300" routerLink="/generative-ai/image-generation" (click)="closeSidebar()">Image Generation</a>
                    </li>
                    <li class="py-2">
                        <hr class="border-t border-gray-600">
                    </li>
                    <li>
                        <a class="hover:text-gray-300" routerLink="/info/technical-notes" (click)="closeSidebar()">Technical Notes</a>
                    </li>
                </ul>
            </div>
        </aside>
    </header>
    <main class="flex-grow overflow-y-auto bg-primary" (click)="closeSidebar()">
        <router-outlet></router-outlet>
    </main>
    <footer class="bg-footer text-white text-center p-3 font-inter font-regular text-sm">
        
    </footer>
</div>
