<div class="p-3">
    <div class="p-6 max-w-md mx-auto my-8 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Image Generation</h2>

        <div class="flex flex-col space-y-4">
            <!-- Label -->
            <label for="textInput" class="text-sm text-gray-700 font-medium">
                Generate Image
            </label>

            <!-- Text Input -->
            <textarea id="textInput"
                      [(ngModel)]="textInputValue"
                      placeholder="Enter text here"
                      rows="4"
                      class="block w-full text-sm text-gray-700
                 border border-gray-300 rounded-lg
                 focus:outline-none focus:ring-2 focus:ring-header focus:border-transparent">
        </textarea>


            <!-- Start Generation Button -->
            <button [disabled]="!textInputValue"
                    (click)="onStartGeneration()"
                    class="w-full px-4 py-2 text-white font-medium
                   bg-button
                   rounded-lg shadow-sm hover:bg-button-hover
                   focus:outline-none focus:ring-2 focus:ring-header focus:ring-offset-2
                   disabled:bg-button-disabled disabled:cursor-not-allowed">
                Start
            </button>
            <div *ngIf="imageEnc" class="w-full border border-gray-300 rounded-lg overflow-hidden shadow-md">
                <img [src]="imageEnc" alt="Image preview"
                     class="w-full h-auto object-contain">
            </div>
        </div>
    </div>
</div>
